version: '3'
services:

  db:
    image: postgres:10-alpine
    restart: always
    networks:
      - internal_network
      - fluentbit_default
    environment:
      POSTGRES_PASSWORD: {{ pgpass_uuid.stdout }}
    volumes:
      - {{ postgres_dump_path }}:/tmp/dump
{% if postgres_data_path is defined %}
      - {{ postgres_data_path }}:/var/lib/postgresql/data
{% endif %}

  redis:
    image: redis:4.0-alpine
    restart: always
    networks:
      - internal_network
      - fluentbit_default
{% if redis_data_path is defined %}
    volumes:
      - {{redis_data_path}}:/data
{% endif %}

  web:
    image: tootsuite/mastodon:{{app_vars.mastodon_version}}
    restart: always
    env_file: .env.production
    command: bash -c "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -p 3000 -b '0.0.0.0'"
    networks:
      - external_network
      - internal_network
      - fluentbit_default
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - db
      - redis
    volumes:
      - {{mastodon_path}}/public:/mastodon/public
      - {{mastodon_path}}/public/system:/mastodon/public/system

  streaming:
    image: tootsuite/mastodon:{{app_vars.mastodon_version}}
    restart: always
    env_file: .env.production
    command: yarn start
    networks:
      - external_network
      - internal_network
      - fluentbit_default
    ports:
      - "127.0.0.1:4000:4000"
    depends_on:
      - db
      - redis

  sidekiq:
    image: tootsuite/mastodon:{{app_vars.mastodon_version}}
    restart: always
    env_file: .env.production
    command: bundle exec sidekiq -q default -q push -q mailers -q pull
    depends_on:
      - db
      - redis
    networks:
      - external_network
      - internal_network
      - fluentbit_default
    volumes:
      - {{mastodon_path}}/public:/mastodon/public
      - {{mastodon_path}}/public/system:/mastodon/public/system

networks:
  external_network:
  internal_network:
    internal: true
  fluentbit_default:
    external: true